
.main__page {
   min-height: 100vh;
}
.enter_form {
   width: 200px;
   height: 100px;
   
   display: flex;
   justify-content: center;

}
button {
   margin: 20px;
   height: 50px;
   width: 100px;
}
input {
   height: 30px;
   width: 10px;
}
.user__cabinet {
   min-height: 100vh;
}
